<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
        <title th:text="#{login.sign_in}">登陆</title>
        <link href="css/bootstrapmin.css" rel="stylesheet">
        <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="css/signin.css" rel="stylesheet">
  </head>
    <div id="screen-shader" style="
            transition: opacity 0.1s ease 0s; 
            z-index: 2147483647;
            margin: 0; 
            border-radius: 0; 
            padding: 0; 
            background: #fac563; 
            pointer-events: none; 
            position: fixed; 
            top: -10%; 
            right: -10%; 
            width: 120%; 
            height: 120%; 
            opacity: 0.5600;
            mix-blend-mode: multiply; 
            display: none;
        "></div>
    <body>

    <!--语言选择按钮-->
    <div style="text-align: right;margin:20px;">
        <a th:href="@{/(l='zh_CN')}">中文</a>|
        <a th:href="@{/(l='en_US')}">英文</a>
    </div>
    <!--登陆组件-->
    <div class="container">
      <form class="form-signin" action="login" method="post">
        <h2 class="form-signin-heading" th:text="#{login.tipInfo}">Please sign in</h2>
          <!--//登陆验证回显信息-->
          <p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <label for="inputEmail" class="sr-only" th:text="#{login.email_placeholder}">Email address</label>

        <input type="email" name="email" id="inputEmail" class="form-control" th:placeholder="#{login.email_placeholder}" required="" autofocus="">
        <label for="inputPassword" class="sr-only" th:text="#{login.pwd_placeholder}">Password</label>

        <input type="password" name="password" id="inputPassword" class="form-control" th:placeholder="#{login.pwd_placeholder}" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> [[#{login.remember}]]
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.sign_in}">Sign in</button>
      </form>
    </div> <!-- /container -->
    <!--<script src="webjars/jquery/3.4.1/jquery.js"></script>-->
    <script href="js/bootstrapmin.js"></script>
    <script type="text/javascript">
        console.log("测试：【邮箱：704566072@qq.com，密码：123456】");
        console.log("当前时间："+new Date())
    </script>
    </body>
</html>